[submodule "studyportal-nexus"]
	path = studyportal-nexus
	url = git@github.com:sdslabs/studyportal-nexus.git
[submodule "studyportal-axion"]
	path = studyportal-axion
	url = git@github.com:sdslabs/studyportal-axion.git
[submodule "studyportal-utils"]
	path = studyportal-axion
	url = git@github.com:sdslabs/studyportal-utils.git
